<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>

<body>
    <section class="center">
        <div class="name">
            <h1 data-text="Link Cutter">Link Cutter</h1>
        </div>
        <div class="input">
            <input type="text" placeholder="Enter an URL" id="url">
            <input type="submit" value="CUT" id="cut">
            <input type="submit" value="SET UP" id="set-up">
        </div>
    </section>

    <script src="../assets/js/main.js"></script>
</body>

</html>