<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Link Shortener</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>

<body>
    <section class="center">
        <div class="name">
            <h1 data-text="Link Shortener">Link Shortener</h1>
        </div>
        <div class="input">
            <input type="text" placeholder="Enter an URL" id="url">
            <input type="submit" value="CUT/GET" id="cut">
            <input type="submit" value="SET UP" id="set-up">
            <input type="submit" value="DELETE" id="delete">
        </div>
        <div class="copy">
            <div id="clipboard">
                <p id="copy-text"></p>
            </div>
        </div>
    </section>

    <script src="../assets/js/main.js"></script>
</body>

</html>